<!-- <div class="toolbar">
    <button (click)="addPolygonToMap($event)">Add Polygon to Map</button>
    <button mat-raised-button color="primary" (click)="activateDrawMode()">Draw Polygon</button>
    <button mat-raised-button color="warn" (click)="deleteSelected()">Delete Selected</button>
</div>
<div id="map"></div>
   -->

<div id="map"></div>
<div id="tools" class="map-tools">
  <button (click)="activateDrawMode()">Activate Draw Mode</button>
  <button (click)="addPolygonToMap()">Add Polygon to Map</button>
</div>
